<!-- 宣告我們要套用模板 -->
{% extends "base.html" %}
    
{% block title %} YOLOTalk Home{% endblock %}
    
{% block style %}
<style>
    /*    ______________ 字體設定 ______________   */
    h1,h2,h3,h4,h5,h6{
        color: rgb(116 109 109);
    }

    /*    ______________ 照片設定  不要爆掉 ______________   */
    img{
        max-width: 100%;
    }
    /*    ______________ 按鈕設定 ______________   */
    .btn{
        background-color: #b1d3f5;
        color: rgb(116 109 109);
        font-size: 20px;
        margin-top: -3px;
        text-align: right;
    }

    /*    ______________ 大看板上的選單 ______________   */
    nav img{
        width: 200px;
    }
    header li{
        margin: 0 15px;
        font-weight: bold;
        font-size: 22px;
    }
    .dropdown-item {
        font-weight: bold;
        font-size: 18px;
    }
    /*    ______________ 大看板 ______________   */
    #intro .jumbotron{
        height:84vh;
        padding: 200px 500px; 
    }
    #intro .container-md {
        position: relative;     
        top: 40%;
        transform: translateY(-50%);
        padding-top: 10px ;
        padding-left: 5px ; 
        padding-right: 5px ;
        padding-bottom: 1px ;

        border-style: solid;
        border-color: rgb(116, 109, 109);
        border-radius: 20px;
        border-width: 5px;
        background-color: #b1d3f5;
    }
    #intro .justify-content-between {
        margin-left: 20px;
        margin-bottom: 50px;
    }
    #intro #middle {
        margin-top: 20px;
    }
    #intro .justify-content-center h4{
        font-size: 24px;
        margin: 24px 25px;
    }
    #intro .justify-content-center input{
        margin: 18px 0px;
        width: 100%;
        font-size: 14px;
        background-color: rgb(255, 255, 255); 
        border-color: rgb(68, 70, 69);
        color: black;
    }
    #intro .justify-content-end input{
        margin-right: 0px;
        font-size: 15px;
        background-color: rgb(255, 255, 255); 
        border-color: rgb(68, 70, 69);
        border-radius: 5px;
        color: black;
    }

</style>
{% endblock %}

{% block intro %}
        
<section id="intro">
    <div class="jumbotron" > 
            <div class="container-md " id="input">   
                  <div class="col align-self-center"  >
                      <form id="rtsp" method="POST">
                            <div class="row justify-content-between" >
                                <h4>Add new Fence</h4>
                                <input type="button" class="btn" value="x" onclick="display_off()"> 
                            </div>
                            <div class="row justify-content-center" >               
                                <div class="col-3">
                                    <h4>RTSP URL:</h4>
                                </div>
                                <div class="col-8">
                                    <input name="URL" type="text" class="form-control" placeholder="Please Enter rtsp URL"  aria-label="With textarea" ></input>
                                </div>
                            </div>
                            <div class="row justify-content-center" >
                                <div class="col-3">     
                                    <h4>Fence name:</h4>
                                </div>
                                <div class="col-8">
                                    <input name="area" type="text" class="form-control" placeholder="Please Enter name of fence"  aria-label="With textarea" pattern="[a-zA-Z0-9_]*" title="Fence name only allow a~z、A~Z、0~9、_  "></input>
                                </div>                                         
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-2">
                                    <input class="btn btn-primary" type="submit" value="SAVE"  onclick="Open_IMG()"> 
                                </div>
                            </div>
                      </form>
                  </div>
            </div>
    </div>
</section>
<!-- 串流成功等待 Modal -->
<div class="modal fade" id="OpenCV_Wait_Modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="Del_fence_Modal" >System message:</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" >&times;</span>
            </div>
            <div class="modal-body">
            <h5 id="text" style="font-size: 20px; "> OPENCV 影像串流中，請稍後...</h5>
            </div>
        </div>
    </div>
</div>

<!-- 串流失敗 Modal -->
<div class="modal fade" id="OpenCV_Fail_Modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="Del_fence_Modal" >System message: </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" >&times;</span>
            </div>
            <div class="modal-body">
            <h5 id="text" style="font-size: 20px; "> OpenCV 影像串流失敗, 請重新檢查RTSP網址.</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>

    Show_OpenCV_Fail_Modal = "{{alert}}"

    $(document).ready(function(){
        $("a#replot_fence").click(function(){
            fence = this.text
            FormName = "Form_"+fence
            document.getElementById(FormName).submit()
        });

        if (Show_OpenCV_Fail_Modal == "True"){
            $('#OpenCV_Fail_Modal').modal() 
            Show_OpenCV_Fail_Modal == "False"
        }
    });


    function customizeWindowEvent() {
        var popup_window = document.getElementById("input");
        popup_window.style.display = "block";
    }


    function display_off() {
        var popup_window = document.getElementById("input");
        popup_window.style.display = "none";
    }

    
    function Open_IMG() { 
        var formElement = document.getElementById("rtsp");
        var camera = formElement[0].value;
        var URL = formElement[1].value;
        $("#OpenCV_Wait_Modal").modal()
        // alert('新增成功,\n '+camera+' 號攝影機已經串流下列網址: '+URL);  
    }


    function successfulSubmit(){

        rtsp  = document.getElementById("rtsp")[1].value;
        name  = document.getElementById("rtsp")[2].value;
        alert( "123321測試測試input URL : "+rtsp+"\ninput name : "+name);
    }


    function show_OpenCV_Fail_Modal(){ 
        $('#OpenCV_Fail_Modal').modal() 
    } 


</script>
{% endblock %}