<!DOCTYPE HTML> //
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>       
        <script type="text/javascript">
        $(document).ready(function(){
          $("button").click(function(){
            $.getJSON("../static/camera_info.json",function(result){
              $.each(result, function(i, field){
                const myObj = result ;
                console.log(myObj,"AAAAAAAAAAAAAA") ;

              });
            });
          });
        });
        </script>
        </head>
        
        <body>
        
        <button>获得 JSON 数据</button>
        <p>{{DATA}}</p>
        
        </body>
</html>

