<!-- 宣告我們要套用模板 -->
{% extends "base.html" %}

{% block title %}賴田捕手{% endblock %}

{% block main %}
<div class="jumbotron">
  中間略
</div>
<div class="container">
  <div class="row desc">
  <div class="col">
    <h2><i class="fas fa-kiwi-bird"></i>  輕鬆</h2>
    <p>中間略</p>
    </div>
  <div class="col">
      <h2><i class="fas fa-smile-wink"></i>  愉悅</h2>
    <p>中間略</p>
    </div>
  <div class="col">
      <h2><i class="fas fa-leaf"></i>  無害</h2>
    <p>中間略</p>
    </div>
  </div>
</div>

{% endblock %}